{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-title">
        <h1>
            Cadastrar Utilizador
        </h1>
    </div>
    <div class="col-lg-12">
        <div class="widget-container fluid-height">

            <div class="widget-content">
                <div class="wizard" id="wizard">
                    <div class="padded">
                        <ul class="wizard-nav nav nav-pills">
                            <li class="">
                                <a data-toggle="tab" href="form-advanced.html#tab1">1</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="form-advanced.html#tab2">2 </a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="form-advanced.html#tab3">3</a>
                            </li>
                        </ul>
                        <div class="progress progress-striped active">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar"
                                 role="progressbar" style="width: 100%;"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab1">
                                <h2>
                                    Credenciais de Login
                                </h2>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="email">Username</label><input class="form-control has-error"
                                                                                  id="name" placeholder="" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Palavra passe</label><input class="form-control"
                                                                                          id="password"
                                                                                          placeholder="6-16 caracters"
                                                                                          type="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">confirma a Palavra passe</label><input
                                                class="form-control" id="password" placeholder="6-16 caracters"
                                                type="password">
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <h2>
                                    Dados Pessoais
                                </h2>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="name">Nome Completo</label>
                                        <input class="form-control" id="name" placeholder="" type="text">
                                    </div>
                                    <div class="col col-md-4 form-group ">

                                        <label for="name">Data de nascimento</label>
                                        <div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd/mm/yyyy">
                                            <input class="form-control" type="text"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane active" id="tab3">
                                <h2>
                                    Payment Information
                                </h2>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="name-credit">Name on credit card</label><input class="form-control"
                                                                                                   id="name-credit"
                                                                                                   placeholder=""
                                                                                                   type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="credit-card">Credit card number</label><input class="form-control"
                                                                                                  id="credit-card"
                                                                                                  placeholder=""
                                                                                                  type="text">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="pager">
                        <div class="btn btn-default-outline btn-previous">
                            <i class="fa fa-long-arrow-left"></i>Back
                        </div>
                        <div class="btn btn-primary-outline btn-next disabled">
                            Continue<i class="fa fa-long-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
